{{{templates.header}}}
        <div class="span9">
          
            <h1>About Zwicky</h1>
            <h3>The internally facing markdown wiki for organizations.</h3>

            <p>Zwicky has been designed to allow you to create and manage Technical Documentation/Manuals and guides and manuals for software. It's basically a website that allows collaborative editing of its content and structure by its users. </p>
            
            <h4>Developed by Xavier Fernández at General Assembly</h4>
            <p>This project is open source: <a href="https://github.com/publisitios/zwicky">View on github</a></p>
            <p>



<b>Named in Honor of Fritz and Mr. Zwicky</b><br/>
<em>“If ever a competition were held for the most unrecognized genius of twentieth century astronomy, the winner surely would be Fritz Zwicky (1898–1974)”</em><br>
<a href="http://en.wikipedia.org/wiki/Fritz_Zwicky">http://en.wikipedia.org/wiki/Fritz_Zwicky"</a>
<br/>

</p>

          </div>

    
{{{templates.footer}}}