{{{templates.header}}}
        <div class="span9">
          
            <h1>Welcome to Zwicky!</h1>
            <h3>The internally facing Wiki for Organizations.</h3>
            <h4>Developed by Xavier Fernández</h4>
            <p>Zwicky has been designed to allow you to create and manage Technical Documentation/Manuals and guides and manuals for software. </p>
            <p>



<b>Named in Honor of Fritz and Mr. Zwicky</b><br/>
<em>“If ever a competition were held for the most unrecognized genius of twentieth century astronomy, the winner surely would be Fritz Zwicky (1898–1974)”</em><br>
<a href="http://en.wikipedia.org/wiki/Fritz_Zwicky">http://en.wikipedia.org/wiki/Fritz_Zwicky"</a>
<br/>
<b>wi·ki</b><br/>
ˈwikē/<br/>
noun<br/>
a website that allows collaborative editing of its content and structure by its users.</p>
<p>
   <a href="https://github.com/publisitios/zwicky">link to git hub</a>
            </p>
          </div>

    
{{{templates.footer}}}