{{{templates.header}}}

<!-- there is 9 bootstrap columns max width -->
        <div class="span4">

              <h1>Categories</h1>
              <p>Categories represent the different projects and topics for which documentation is created. Categories hold documents assigned to related to the same topic. </p>     
        </div>

<div class="span5">
  <h3>Add Category</h3>
            <form action = "/categories/create" method="POST">
  <div class="form-group">
    <label for="Name">Category Name</label>
    <input type="text" class="form-control" name="catName" placeholder="Enter category name" required />
  </div>

  <div >
    <label for="Email">Description</label>
    <div class="input-group">
    <textarea class="form-control" name="catNotes" placeholder="Enter notes" rows="2" ></textarea>
  </div>
  </div>

  <div class="checkbox">
    <label>
      <input checked type="checkbox" name="catStatus" value = "active"> Category is Active
    </label>
  </div>
  <button type="submit" class="btn btn-default">Add Category</button>
</form>
     
</div>

<div class="span9">
    <h3>View Categories</h3>
      <table class="table table-hover">
            <tr>
               <th>Category Name</th>
               <th>Description</th>
               <th>Status</th>
               <th> </th>
               <th> </th>
            </tr>
{{#categories}}
<tr>
               <td>{{name}}</td>
               <td>{{notes}}</td>
               <td><span class="label">{{status}}</span></td>
               <td>
                  <form method="GET" action="/categories/{{id}}">
                     <button  class="btn btn-info">Edit Category</button>
                  </form>
               </td>
               <td>
                  <form method="POST" action="/categories/delete/{{id}}?_method=DELETE">
                     <button  class="btn btn-danger" >Delete Category</button>
                  </form>
               </td>
            </tr>
{{/categories}}


</table>
</div>

{{{templates.footer}}}
