{{{templates.header}}}
<!-- there is 9 bootstrap columns max width -->
<div class="span4">
   <h1>Editors</h1>
   <p>Editors are responsible for writing and mainting the documents assigned to them. Readers may contact the editor via email if they have any questions regarding their content.</p>
   <p>You may create a new editor by completing the form. 
   </p>
   <p>You may also choose to edit or delete an existing editor, editor may also be set to inactive for legacy documents. 
   </p>
</div>
<div class="span5">
   {{#editors}}
   <h3>Update Editor</h3>
   <form action = "/editors/{{editor_id}}?_method=PUT" method="POST">
      <input type="hidden" name="editor_id" value="{{editor_id}}" />
      <div class="form-group">
         <label for="Name">Full Name</label>
         <input type="text" class="form-control" name="editorName" value="{{editor_name}}" required />
      </div>
      <div >
         <label for="Email">Email address</label>
         <div class="input-group">
            <input type="email" class="form-control" name="editorEmail" value="{{editor_email}}" required />
         </div>
      </div>
      <div class="checkbox">
         <label>
         <input value = "active" checked type="checkbox" name="editorStatus"> Editor is Active
         </label>
      </div>
      <button type="submit" class="btn btn-primary btn-large">Update Editor</button>
   </form>
   {{/editors}}    
</div>
{{{templates.footer}}}