{{{templates.header}}}
<div class="span9">
<div class="hero-unit">
   <h1>Welcome to Zwicky!</h1>
   <p><b>An internally facing Wiki for Organizations.</b><br/> Zwicky has been designed to allow you to easily create and manage technical documentation / manuals and guides and manuals for software using Markdown notation. </p>
   <p><a href="/articles" class="btn btn-primary btn-large">Browse Articles &raquo;</a></p>
</div>
<div class="row-fluid">
   <div class="span4">
      <h2>Articles</h2>
      <p>Articles are documents created by editors and are written in Markdown format. Markdown makes it very easy to read, write, and edit documents. </p>
      <p><a class="btn" href="/articles">View Articles &raquo;</a></p>
   </div>
   <!--/span-->
   <div class="span4">
      <h2>Categories</h2>
      <p>Categories represent the different projects and topics for which documentation is created. Categories hold documents assigned to related to the same topic. </p>
      <p><a class="btn" href="/categories">Manage Categories &raquo;</a></p>
   </div>
   <!--/span-->
   <div class="span4">
      <h2>Editors</h2>
      <p>Editors are responsible for writing and mainting the documents assigned to them. You may contact the editor via email if you have any questions regarding their content.</p>
      <p><a class="btn" href="/editors">Manage Editors &raquo;</a></p>
   </div>
   <!--/span-->
</div>
<!--/row-->
{{{templates.footer}}}